.divcontenedor{border: 1px solid black; width:100%; height:auto; background:rgb(181, 248, 239);}
.divA{border: 1px solid black; width:100%; height:auto; background:aquamarine;}
.divB{border: 1px solid black; width:100%; height: auto;background-color:rgb(175, 250, 250);}
.divC{border: 1px solid black; width:100%; height: auto;background-color: rgb(115, 219, 219);}
.divD{border: 1px solid black; width:100%; height: auto;background-color: rgb(195, 226, 226);}
.divE{border: 1px solid black; width:100%; height: auto;background-color: rgb(191, 245, 245);}
.estilo1{color: black; font-size:16pt;text-align:center;font-weight: bolder;}
.estilo2{color:black; font-size:30pt;text-align:center; font-weight: bolder;}
.estilo3{color: black;font-size: 14pt;font-family: sans-serif;}
.estilo4{color: white;font-size: 25pt;font-family: sans-serif;line-height: 0px;font-weight: bolder;}
.estilo5{color: black;font-size: 14pt;font-family: sans-serif;text-align: center;}
.estilo02{color:black; font-size:25pt;text-align:center; font-weight: bolder;}
body{background:rgb(255, 255, 255); font-family: sans-serif;padding: 90px;}
.header {
   background-color: lightblue;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid black;
}
.nav {
   justify-content: right;
   position: relative;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
}
.palink{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
}
.nav-menu-link:hover{
    background-color: slategray;
    transition: 1s;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.divpru{
    width: 49%; height: auto;float: left;
}
.divpru1{
    width: 49%; height: auto;float: right;
}
.divpru2{
    width: 49%; height: 309px;float: right;
}
.divpru3{
    width: 49%; height: 250px;float: right;
}
.divpru4{
    width: 49%; height: 250px;float: left;
}
.divpru5{
    width: 1%;height: 1650px;;
}
.palink2{
    text-decoration: none;
    color:blue;
    font-weight: bolder;
    font-family: sans-serif;
}
.div10{
    width: 60%;
    height:auto ;
    float: left;
}
.div11{
    width: 35%;
    height: auto;
    float: right;
    background-color: aliceblue;
    
}
.estilo6{color: orangered; font-size:16pt;text-align:center;font-weight: bolder;}
.footer{
    display: block;
    background-color: rgb(186, 243, 240);
margin: 50px;
padding: 20px;
}
.divpru7{
    width: 5%;height: 5100px;;
}
.divU1{
    width: 33%;
    height: auto;
    float: left;
}

.divU2{
    width:33% ;
    height: auto;
    float: right;
}
.divU3{
    width:33% ;
    height: auto;
    float: right;
}
.tabla{
    background-color: rgb(172, 252, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 7px;
}
.celda{
    background-color: rgb(197, 230, 231);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.con{
    width: 100%;
    height: 100%;
}